/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  /* Form Styles */
  
  form {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .input-box {
    margin-bottom: 20px;
  }
  
  .input-box input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-box label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  .input-box .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .submitbtn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin:7px 7px;
  }
  
  .submitbtn:hover {
    background-color: #3e8e41;
  }
  .submitbtn:disabled {
    background-color: #3e8e41;
    cursor: not-allowed;
  }
  
  /* Additional Styles */
  
  .input-box input[type="text"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }